<header>
    <a href="#" class="logo"><span>Library</span>App</a>
    <nav class="navbar">
        <a href="/users/profile">My profile</a>
        <a href="/users">Users</a>
        <a href="/works/rating">Ratings</a>
        <a href="/auth/logout">Logout</a>
    </nav>
</header>

<div class="profilebg">
  <div class="myprofile">
    <div class="ratings">
      <h1> User rating</h1>
      {{#each authors}}
      <figure class="snip1559">
        <div class="profile-image"><img src="https://i0.wp.com/researchictafrica.net/wp/wp-content/uploads/2016/10/default-profile-pic.jpg?ssl=1" alt="profile-sample2" /></div>
        <figcaption>
        <a href="/users/{{this.username}}" >{{this.username}}</a>

        <h3>Rating:</h3>
          
          <h4>{{this.rating}} <img src="/images/star.png" height="20px" width="20px"></h4>
        
        <br>
        </figcaption>
      </figure>
        {{/each}}
        <br>
        <br>

        <br>
        <br>

    <hr class="hrprofile2">
    <h1>Rating Works</h1>
    {{#each works}}
  <figure class="snip1559">
    <div class="profile-image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample2.jpg" alt="profile-sample2" /></div>
      <div>
      <br>
      <a href="/works/work/{{this.id}}" >{{this.name}}</a>
        <h4>{{this.avRating}}</h4>
      <br>
      </div>
  </figure>
      {{/each}}
    </div>
  </div>
</div>