<h1>Ratings</h1>

<h3>Ratings Users</h3>

{{#each authors}}
<div>
    <br>
<a href="/users/{{this.username}}" >{{this.username}}</a>
  
  <h4>{{this.rating}}</h4>
 
 <br>
</div>
{{/each}}
<br>
<br>

<form>

  <input type="text" name="type" placeholder="Type">
  <input type="text" name="genre" placeholder="genre">
   <input type="text" name="language" placeholder="language">
  <button>Work Search</button>

</form>
<br>
<br>

<h3>Rating Works</h3>
{{#each works}}
<div>
    <br>
<a href="/works/work/{{this.id}}" >{{this.name}}</a>
  <h4>{{this.avRating}}</h4>
 
 <br>
</div>
{{/each}}