<h1>Ratings</h1>

<h3>Ratings Users</h3>

{{#each authors}}
<div>
    <br>
<a href="/users/{{this.username}}" >{{this.username}}</a>
  
  <h4>{{this.rating}}</h4>
 
 <br>
</div>
{{/each}}
<br>
<br>
<!--
    <div class="search-box">
    <button class="btn-search"><i class="fas fa-search"></i></button>
    <input type="text" class="input-search" placeholder="Type to Search...">
  </div>

</div> 
-->

<br>
<br>

<h3>Rating Works</h3>
{{#each works}}
<div>
    <br>
<a href="/works/work/{{this.id}}" >{{this.name}}</a>
  <h4>{{this.avRating}}</h4>
 
 <br>
</div>
{{/each}}