<header>
    <a href="#" class="logo"><span>Library</span>App</a>
    <nav class="navbar">
         <a href="/users">Users</a>
        <a href="/works/rating">Ratings</a>
         {{#if logged}}
          <a href="/users/profile">My profile</a>
   <a href="/auth/logout">Logout</a>
   {{else}}
     <a href="/auth/signup">Register</a>
        <a href="/auth/login">Login</a>
   {{/if}}
    </nav>
</header>
<div class="profilebg">
  <div class="myprofile">
    <div class="ratings">
    <h1>Works search</h1>
    <form>
       <p>Type</p>
      <select name="type" id="type">
      <option value="Short Story">Short Story</option>
      <option value="Poetry">Poetry</option>
      <option value="Song">Song</option>
      <option value="Theater">Theater</option>
      <option value="Narrative">Narrative</option>
      </select>
       <p>Genre</p>      
      <select name="genre" id="type">
     <option value="Drama">Drama</option>
      <option value="Romance">Romance</option>
      <option value="Erotic">Erotic</option>
      <option value="Thriller">Thriller</option>
      <option value="Terror">Terror</option>
      <option value="Others">Others</option>
      </select>
      <input type="text" name="language" placeholder="language">
      <button>Work Search</button>
    </form>

    <div class="centerdiv">
    {{#each works}}
    <figure class="snip1559">
      <div>
          <br>
      <a href="/works/work/{{this.id}}" >{{this.name}}</a>
        
        <h4>{{this.type}}</h4>
        <h4>{{this.genre}}</h4>
        <h4>{{this.language}}</h4>
        <h4>{{this.description}}</h4>
        <h4>{{this.avRating}}</h4>
      <br>
      </div>
    </figure>
    {{/each}}
    </div>
    </div>
  </div>
</div>
