
<h1>Name: {{work.name}}</h1>
<h1>Type: {{work.type}}</h1>
<h1>Genre: {{work.genre}}</h1>
<h1>Language: {{work.language}}</h1>
<h1>Description: {{work.description}}</h1>
<h1>Average Rating: {{work.avRating}}</h1>
<h1>Ira el boton para leer</h1>
<a href="#" class="btn">Vote</a>
<br>