<header>
    <a href="#" class="logo"><span>Library</span>App</a>
    <nav class="navbar">
        <a href="/users/:id">My profile</a>
        <a href="/users">Users</a>
        <a href="/works/rating">Ratings</a>
        <a href="/logout">Logout</a>
    </nav>
</header>

<div class="profilebg">
  <div class="myprofile">
    <h1 class="h1profile">este es el perfil de {{user.username}}</h1>
    <h2 class="h2profile">Mi valoración media: {{user.rating}}</h2>

    <h2 class="profilefavs">List of favorites</h2>

    {{#each user.favorites}}

    <a href="../{{this}}" class="profilefavs2">{{this}}</a>
    <form method="POST" action="/users/{{this}}/favorite">
    <button class="btn">Delete</button><br>
    </form>
    {{/each}}
<hr class="hrprofile">
<!-- -->
  <div class="container">
    <h2 class="center">Works</h2>
  </div>

    {{#each user.works}}
    <br>
    <div class="episode__content">
      <h3 class="title">Name: </h3>
      <p class="story">{{name}}</p>
      <h3 class="title">Average Rating: </h3>
      <p class="story">{{this.avRating}}</p>
      <!-- Solo lectura -->
      <a href="/works/edit/{{this.id}}" class="btnprofile">Edit</a>
      <form action="/works/delete/{{_id}}" method="POST" >
              <button type="submit" class="btnprofile2">Delete</button>
            </form>
      <br>
    </div>
    {{/each}}


    <a href="/works/create" class="btnprofile">Add Work</a>
  </div>
</div>