<h1>Este es el perfil de {{user.username}}</h1>
<br>
<h1>Valoracion media de {{user.rating}} <img src="/images/star.png" height="18px"></h1>
<br>
<a href="/users/{{user.username}}/favorite" class="btn">Add Favorites</a>
<br>

{{#each user.works}}
<br>
<h1>Name: {{this.name}}</h1>
<h1>Type: {{this.type}}</h1>
<h1>Genre: {{this.genre}}</h1>
<h1>Language: {{this.language}}</h1>
<h1>Description: {{this.description}}</h1>
<h1>Average Rating: {{this.avRating}}</h1>
<!-- Solo lectura -->
<a href="/works/work/{{this.id}}" class="btn">Work</a>
<br>

{{/each}}